*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/fastvit_t8_h_e_bifpn_256_fp32.onnx
/app/src/main/assets/u2net_int8.onnx
/app/google-services.json
/app/build/
